.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ababab
}

.main {
  text-align: center;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 30px;
  height: 500px;
  box-shadow: 0 20px 25px #8a8a8a;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.todo-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.todo-addButton {
  background-color: #ff6347;
  color: #333;
  border: none;
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(188, 96, 66);
}

.todo-item button {
  background-color: #ff6347;
  color: #333;
  border: none;
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #cc4731;
}
